<<<<<<< HEAD
h2 {
     background-color: aquamarine;
}

p {
     color: blueviolet; 
     font-size: 24px;
=======
h2 {
     background-color: aquamarine;
}

p {
     color: blueviolet; 
     font-size: 24px;
>>>>>>> 32309ca1e080a82e552bf614b59e0c8a295243b6
}