body {
     background-color: hsl(185, 75%, 39%);
     height: 100vh;

     font-family: 'Kumbh Sans', sans-serif;
     font-size: 14px;
}

hr {
     width: 100%;
}

.container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
}

.cartao {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     background-color: whitesmoke;
     gap: 25px;
     width: 280px;
     height: 300px;
     margin: 20px;
     border-radius: 10px; 
}

.imagem-perfil {
     border-radius: 50px;
     margin-top: 20px;
}

.perfil {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     text-align: center;
     height: 100%;
     gap: 10px;
}

.estatisticas-sociais {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     padding-bottom: 30px;
     text-align: center;
}

.nome, .contador {
     font-weight: 700;
}

.nome {
     font-size: 17px;
}

.idade {
     font-size: 15px;
}

.idade, .cidade, .atributo-contado {
     color: hsl(227, 10%, 46%);
}