<<<<<<< HEAD
* {
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
     display: flex;
     background-color: rgba(40, 23, 196, 0.658);
     justify-content: center;
     padding-top: 30px;
     border: solid 3px black;
}

.link {
     margin-top: 15px;
     border: solid 2px black;
=======
* {
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
     display: flex;
     background-color: rgba(40, 23, 196, 0.658);
     justify-content: center;
     padding-top: 30px;
     border: solid 3px black;
}

.link {
     margin-top: 15px;
     border: solid 2px black;
>>>>>>> 32309ca1e080a82e552bf614b59e0c8a295243b6
}