<<<<<<< HEAD
.descricao {
     background-color: orange;
}

.promocao {
     border: solid 6px green;
=======
.descricao {
     background-color: orange;
}

.promocao {
     border: solid 6px green;
>>>>>>> 32309ca1e080a82e552bf614b59e0c8a295243b6
}