<<<<<<< HEAD
.produto {
     background-color: aqua;
}

.produto span {
     font-size: 24px;
     color: orange;
}
=======
.produto {
     background-color: aqua;
}

.produto span {
     font-size: 24px;
     color: orange;
}
>>>>>>> 32309ca1e080a82e552bf614b59e0c8a295243b6
