<<<<<<< HEAD
.pixel {
     background-color: aqua;
     width: 1000px;
     height: 100px;
=======
.pixel {
     background-color: aqua;
     width: 1000px;
     height: 100px;
>>>>>>> 32309ca1e080a82e552bf614b59e0c8a295243b6
}